body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    
}

.buttons button {
    width: 100px;
    padding: 8px 4px;
    margin: 8px;
    font-weight: bold;
    color: rgb(238, 4, 4);
    background-color: rgb(183, 183, 183);
    border-radius: 7%;
    border-style: none;
    border-color: rgba(116, 116, 116, 0.765);
    cursor: pointer;
    -moz-transition: all 0.5s;
    transition: all 0.5s; 
}

.buttons button:hover {
    background-color: grey;
}
#grit {
    margin: 16px;
    background-color: rgb(232, 232, 232);
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    display: flex;
    flex-grow: 1;
    border: none;



}

.row .cell {
    margin-top: -1px;
    margin-left: -1px;
}
