
#grit {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    border: 1px solid black;
    display: flex;
    flex-grow: 1;


}

.row .cell {
    margin-top: -1px;
    margin-left: -1px;
}


